@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Fira+Mono|Nunito&display=swap');

body, h1, h2, h3{
  font-family: 'Nunito', sans-serif;
}

code{
  font-family: 'Fira Mono', monospace;
}

h1, h2, h3, h4, h5{
  color: #000011;
}

.headline{
  font-family: 'Butterfly Kids', cursive;
  text-align: center;
  font-size: 100px;
}
@media screen and (min-width: 900px) {
  .headline{
     font-size: 120px;
  }
}

.version{
  font-size: 12px;
  font-family: 'Fira Mono', monospace;
}

.navbar-brand{
  font-size: 30px;
  font-family: 'Butterfly Kids', cursive;
}

.navbar-brand > .navbar-link{
  color: #ffaa0e !important;
}

.brand{
  font-size: 25px;
  color: #FF964C !important;
  font-family: 'Butterfly Kids', cursive;
}


.navbar-default{
  border-color: #FF964C;
  background-color: #000011;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #FF964C;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  border-color: #FF964C;
  background-color: #000011;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  color: #FF964C;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu{
  color: #fff;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #000011;
}

a:hover, a:focus {
  color: #000011;
}

pre {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 2px 3px 1px,
    rgba(0, 0, 0, 0.1) 0 1px 3px 1px,
    rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
}

p>a {
  color: #FF964C;
}

li>a {
  color: #FF964C;
}

small>a {
  color: #FF964C;
}

code a, pre a{
  color: #FF964C;
}

.st{
  color: #4592E0;
}

.op{
  color: #666666;
}

.dv, .dt{
  color: #000011;
}

.btn-copy-ex{
  background-color: #FF964C;
  border-color: #000011;
}

.btn-copy-ex:hover{
  background-color: #000011;
  border-color: #FF964C;
}

.btn-primary{
  background-color: #FF964C;
  border-color: #000011;
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary{
  background-color: #000011;
  border-color: #FF964C;
}

.btn-default:hover, .btn-default:focus, .btn-group.open .dropdown-toggle.btn-default{
  background-color: #000011;
  border-color: #FF964C;
  color: #fff;
}